*{
    padding: 0px;
    margin: 0px;
  }
  
  #root{
    /* root es el contenedor padre en html seria el contenedor body*/
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
  }
  .mainContenedor{
    flex-grow: 1;
  }
  .textFooter{
    margin: 0px;
    background: rgb(88, 87, 87);
    color: #fff;
  }
  
  /*css Card Producto*/
  .contanedorCard{
    width: 300px;
  }

 
  .bgMenu{
    background-color: #E08E79;
    color: #fff;
  }
  .bgForm{
    background-color:#e0d4aa;
  }
    /*css Administrador*/
  .imgAdministrador{
width: 80px;
  }
  .imgDetalle{
    width: 300px;  

  }
  
  